.mint-tabbar>.mint-tab-item.is-selected {
  background: none;
  color: $mainColor
}
.mint-button--primary.is-plain {
  border: 1px solid $mainColor;
  color: $mainColor;
}
.is-fixed .mint-tab-item-label {
  line-height: 1;
}
.mint-tab-item-label {
  line-height: 2;
}
.mint-cell-title {
  text-align: left;
}
.mint-cell.mint-cell:last-child {
  background-image: none;
}
.space {
  height: $big-space;
  background: transparent;
  & + .mint-cell {
    .mint-cell-wrapper {
      background-image: none;
    }
  }
}
div.mint-cell-wrapper {
  overflow: inherit;
}
button.ftd-btn {
  background: $mainColor;
  color:#fff;
  border: none;
  outline: none;
  width: 6.5rem;
  margin-top: 1rem;
  padding: $middle-space * 2 0;
  font-size: 0.4rem;
  border-radius: 5px;
}
div.set {
  background: transparent;
}
.mint-indicator-wrapper {
  font-size: 62.5%;
}
.mint-indicator-mask,.mint-indicator-wrapper {
  z-index: 99999;
}